.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F4F7FE;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 320px;
  right: 0;
  height: 64px;
  z-index: 1000;
  width: calc(100% - 390px);
  border-bottom: 3px solid #E2E8F0; 
}

  
.page-title {
    font-size: 18px;           
    font-weight: bold;         
    color: #2B3674;           
    margin: 0;                /* 기본 마진 제거 */
    padding: 0.5rem 1rem;     /* 상하좌우 여백 추가 */
    position: relative;       /* 위치 설정 추가 */
    left: 0;                 /* 왼쪽 정렬 */
}
  

.icon-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
  background-color: #F4F7FE;
  border-radius: 50%;
  padding: 8px;
}

.icon:hover {
  opacity: 1;
}

.profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #F4F7FE;
  display: flex;
  justify-content: center;
  align-items: center;
}


.profile-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  .page-title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .main-category {
    font-size: 0.8rem;
    color: #718096;
    margin-bottom: 0.25rem;
  }
  
  .sub-category {
    font-size: 1.25rem;
    font-weight: bold;
    color: #2B3674;
    margin: 0;
  }

  .search-and-icons {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding: 8px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    gap: 10px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    background-color: #F4F7FE;
    border-radius: 20px;
    padding: 5px 10px;
  }
  
  .search-icon {
    color: #718096;
    margin-right: 8px;
    opacity: 0.7;
  }
  
  .search-input {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 0.9rem;
    color: #2D3748;
    width: 150px;
  }
  
  .search-input::placeholder {
    color: #A0AEC0;
  }

  